<% include ./partials/_header %>

  <body>
    <h2>All the menus</h2>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% menus.forEach(function(menu) { %>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="<%=menu.image%>">
          <div class="caption">
            <h4><%= menu.name %></h4>
            <h4><%= menu.price %></h4>
            <h4><%= menu.description %></h4>
          </div>
       </div>
      </div>
    <%});%>
  </div>
  <a href="/menus/new">CREATE THE MENU</a>

  </body>
</html>
