<% include ./partials/_header %>


<h1>LOGIN HERE TO CREATE</h1>


<form method="post" action="/menus">
  USERNAME:<br>
  <input name="username" type="text"><br>
  PASSWORD:<br>
  <input name="password" type="password"><br>

  <input type="submit"  value="submit">
</form>
